<%= form_with model: @employee do |form| %>
<div class="row">
 <!-- Displaying all error message  -->
        <!-- 	<%# if @employee.errors.any? %>
        	<div class="col-lg-12">
        		<p class="lead">Please fix error below</p>
        		<#% #@employee.errors.full_messages.each do |message| %>
        		<p class="text-danger"> <#%= message %></p>
        		<#% end -%>
        	</div>
        	<%# end -%> -->


        <div class="col-lg-4">
          <div class="form-group">
            <span style="font-weight: bold;"><%= form.label :first_name, class: "mb-2" %></span>
            <%= form.text_field :first_name, class: "form-control form-control-lg rounded-0", pattern: "[^0-9]*" %>
            <% @employee.errors.full_messages_for(:first_name).each do |message| %>
            <p class="text-danger"> <%= message %></p>
            <% end -%>
            <% if @employee.errors[:first_name].any? %>
            <% @employee.errors[:first_name].each do |error| %>
            <% if error == "can't be blank" %>
            <p class="text-danger">First name is required*</p>
            <% end %>
            <% end %>
            <% end %>
          </div>
        </div>


        <div class="col-lg-4">
          <div class="form-group">
            <span style="font-weight: bold;"><%= form.label :middle_name, class: "mb-2" %></span>
            <%= form.text_field :middle_name, class: "form-control form-control-lg rounded-0" %>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <span style="font-weight: bold;"><%= form.label :last_name, class: "mb-2" %></span>
            <%= form.text_field :last_name, class: "form-control form-control-lg rounded-0" %>
            <% if @employee.errors[:last_name].any? %>
            <% @employee.errors[:last_name].each do |error| %>
            <% if error == "can't be blank" %>
            <p class="text-danger">Last name is required*</p>
            <% end %>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <span style="font-weight: bold;"><%= form.label :personal_email, class: "mb-2" %></span>
            <%= form.text_field :personal_email, class: "form-control form-control-lg rounded-0" %>
            <% if @employee.errors[:personal_email].any? %>
            <% @employee.errors[:personal_email].each do |error| %>
            <% if error == "can't be blank" %>
            <p class="text-danger">Email is required*</p>
            <% end %>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <span style="font-weight: bold;"><%= form.label :address_line_1, class: "mb-2" %></span>
            <%= form.text_field :address_line_1, class: "form-control form-control-lg rounded-0" %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <span style="font-weight: bold;"><%= form.label :address_line_2, class: "mb-2" %></span>
            <%= form.text_field :address_line_2, class: "form-control form-control-lg rounded-0" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <span style="font-weight: bold;"><%= form.label :city, class: "mb-2" %></span>
            <%= form.text_field :city, class: "form-control form-control-lg rounded-0" %>
            <% if @employee.errors[:city].any? %>
            <% @employee.errors[:city].each do |error| %>
            <% if error == "can't be blank" %>
            <p class="text-danger">City is required*</p>
            <% end %>
            <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <%= form.label :state, class: "mb-2 font-weight-bold" %>
            <%= form.select :state, options_for_select([
              ['Andhra Pradesh', 'AP'],
              ['Arunachal Pradesh', 'AR'],
              ['Assam', 'AS'],
              ['Bihar', 'BR'],
              ['Chhattisgarh', 'CT'],
              ['Gujarat', 'GA'],
              ['Haryana', 'HR'],
              ['Himachal Pradesh', 'HP'],
              ['Jammu and Kashmir', 'JK'],
              ['Goa', 'GA'],
              ['Jharkhand', 'JH'],
              ['Karnataka', 'KA'],
              ['Kerala', 'KL'],
              ['Madhya Pradesh', 'MP'],
              ['Maharashtra', 'MH'],
              ['Manipur', 'MN'],
              ['Meghalaya', 'ML'],
              ['Mizoram', 'MZ'],
              ['Nagaland', 'NL'],
              ['Odisha', 'OR'],
              ['Punjab', 'PB'],
              ['Rajasthan', 'RJ'],
              ['Sikkim', 'SK'],
              ['Tamil Nadu', 'TN'],
              ['Telangana', 'TG'],
              ['Tripura', 'TR'],
              ['Uttarakhand', 'UT'],
              ['Uttar Pradesh', 'UP'],
              ['West Bengal', 'WB'],
              ['Andaman and Nicobar Islands', 'AN'],
              ['Chandigarh', 'CH'],
              ['Dadra and Nagar Haveli', 'DN'],
              ['Daman and Diu', 'DD'],
              ['Delhi', 'DL'],
              ['Lakshadweep', 'LD'],
              ['Puducherry', 'PY']
              ], @employee.state), { include_blank: 'Select State' }, class: "form-control form-control-lg rounded-0" %>
              <% if @employee.errors[:state].any? %>
              <p class="text-danger"><%= @employee.errors[:state].first %></p>
              <% end %>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <span style="font-weight: bold;"><%= form.label :country, class: "mb-2" %></span>
              <%= form.text_field :country, class: "form-control form-control-lg rounded-0" %>
              <% if @employee.errors[:country].any? %>
              <% @employee.errors[:country].each do |error| %>
              <% if error == "can't be blank" %>
              <p class="text-danger">Country  is required*</p>
              <% end %>
              <% end %>
              <% end %>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <span style="font-weight: bold;"><%= form.label :pincode, class: "mb-2" %></span>
              <%= form.text_field :pincode, class: "form-control form-control-lg rounded-0" %>
              <% if @employee.errors[:pincode].any? %>
              <% @employee.errors[:pincode].each do |error| %>
              <% if error == "can't be blank" %>
              <p class="text-danger">Pincode  is required*</p>
              <% end %>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
         <div class ="col-lg-12 mt-4">
           <%= form.submit class: "btn btn-primary btn-lg rounded-0", type: "submit" %>
           <%= link_to "Back to Employee",employees_path, class: "btn btn-primary btn-lg rounded-0", type: "submit" %>
         </div>
       </div>
       <% end %>